<%- layout("/layout/boilerplate") %>
<div class="row">
<div class="col-8 offset-2">

    <form method="post" action="/listing/<%= result.id %>?_method=PUT" novalidate class="needs-validation">
        <br><br>
        <h2>Edit your information</h2>
        <div class="mb-3">
            <label for="title" class="form-label">title</label>
            <input name="listing[title]" value="<%= result.title %>" type="text" class="form-control" required>
            <div class="invalid-feedback">please provide description</div>
        </div>
      <div class="mb-3">
        <label for="descrption" class="form-label">description</label>
        <input name="listing[description]" value="<%= result.description %>"type="text" class="form-control" required>
        <div class="invalid-feedback">please provide description</div>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">image-link</label>
        <input name="listing[image]"value="<%=result.image %>"type="text" class="form-control" required>
        <div class="invalid-feedback">please provide description</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">price</label>
            <input name="listing[price]"value="<%=result.price%>" class="form-control" required>
            <div class="invalid-feedback">price</div>
        </div>
       <div class="mb-3 col-md-8">
        <label for="location" class="form-label">location</label>
        <input name="listing[location]" value="<%=result.location%>" type="text" class="form-control" required>
        <div class="invalid-feedback">enter location</div>
       </div>
      </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">country</label>
            <input name="listing[country]"value="<%= result.country %>"   type="text" class="form-control" required> 
            <div class="invalid-feedback">please provide description</div>
        </div>
       
        <button class="btn btn-dark mt-2">Edit</button>
        <BR><br>
    </form>
</div>
</div>